{
	email {$CADDY_EMAIL}
}

{$CADDY_DOMAIN} {
	encode gzip

	reverse_proxy frontend:80 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
		flush_interval -1
		transport http {
			read_timeout 3600s
			write_timeout 3600s
			dial_timeout 10s
		}
	}
}
